* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292C34;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: #292C34;
    text-align: center;
    font-family: serif;
}

.nav {
    font-family: serif;
    text-align: center;
    padding-top: 15px;
}

.btn {
    font-family: serif;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}